{%extends "AcmeAlbumsBundle:Default:index.html.twig" %}

{% block content %}

	<h1>Add new album</h1>

	{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="container">
			{{ form_label(form.artist) }}
	        {{ form_errors(form.artist) }}
	        {{ form_widget(form.artist) }}
	    </div>

	    <div class="container">
	        {{ form_label(form.title) }}
	        {{ form_errors(form.title) }}
	        {{ form_widget(form.title) }}
	    </div>

	    <div class="container">
	        {{ form_widget(form.Add) }}
		</div>
	{{ form_end(form) }}

{% endblock %}